.footer{
width: 166px;
padding-bottom: 24px;
padding-top: 92px;   
}

@media screen and  (max-width:900px) {
    .footer{
        padding-top: 88px;
    }
}

@media screen and  (max-width:600px) {
        .footer{
    width:166px;
    padding-top: 64px;
    }
 }