.header{
width: 100%;
display:flex;
justify-content: center;
padding-top: 34px;
margin: 0 auto;
width:254px;
height:70px;

}

@media screen and (min-width:768px) and (max-width:1280px){
    .header{
        width: 254px;
        height:66px;
    }
    
}



@media screen and (min-width: 320px) and (max-width:768px) {
    .header{
        width:188px;
        height:52px;
    }
    
}
