.header{
width: 100%;
display:flex;
justify-content: center;
padding-top: 34px;
margin: 0 auto;
width:254px;
padding-bottom: 90px;


}

@media screen and (max-width:900px){
    .header{
        width: 254px;

    }
    
}



@media screen and  (max-width:600px) {
    .header{
        width:188px;
        padding-bottom: 50px;

    }
    
}
